[submodule "sphinx-template"]
	path = sphinx-template
	url = git@github.com:eccelerators/sphinx-template.git
[submodule "eccelerators-docbook"]
	path = eccelerators-docbook
	url = git@github.com:eccelerators/eccelerators-docbook.git
[submodule "sphinx_docbook"]
	path = sphinx_docbook
	url = git@github.com:eccelerators/sphinx_docbook.git
[submodule "tb-ip/hdl/Eccelerators/simstm"]
	path = tb-ip/hdl/Eccelerators/simstm
	url = git@github.com:eccelerators/simstm.git
